.chat-bubble, .chat-bubble-2 {
    max-width: 48%; /* Chiều rộng tối đa của khung hội thoại */
    border-radius: 31px; /* Bo góc */
    padding: 12px; /* Khoảng cách bên trong */
    margin: 10px 0; /* Khoảng cách trên và dưới */
    position: relative; /* Để tạo mũi tên */
}

.chat-bubble {
    background-color: #ACDEFF; /* Màu nền */
}

.chat-bubble-2 {
    background-color: #C9E5C4; /* Màu nền */
    align-self: flex-end; 
    margin-left: auto; 
}

.chat-bubble p, .chat-bubble-2 p {
    margin: 0 auto;
    font-size: 16px; /* Kích thước chữ */
    padding: 0 8px;
    font-family: Arial, sans-serif; /* Ph ш font chữ */
}

.chat-bubble::after, .chat-bubble-2::after {
    content: '';
    position: absolute;
    top: 99%; /* Đặt mũi tên ở phía dưới khung */
    border-width: 12px; /* Kích thước mũi tên */
    border-style: solid;
}

.chat-bubble::after {
    left: 24px; /* Di chuyển mũi tên vào bên trong */
    border-color: #ACDEFF transparent transparent transparent; /* Màu sắc của mũi tên */
}

.chat-bubble-2::after {
    right: 24px; /* Di chuyển mũi tên vào bên trong bên phải */
    border-color: #C9E5C4 transparent transparent transparent; /* Màu sắc của mũi tên */
}