body {
    background-color: #F5F5F5;
}

.set-content {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 18px;
    background-color: #ffffff; 
    border-radius: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    padding: 30px; 
}

.title{
    font-size: 26px;
    font-weight: 600;
}

.settings-list {
    list-style-type: none;
    padding: 0;
}

.setting-item {
    font-size: 20px;
    padding: 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    gap: 20px; 
    align-items: center; 
}

.setting-item i {
    color: #00095E; 
    font-size: 25px; 
    transition: color 0.3s;
}

.setting-item:hover {
    background-color: #f1f1f1;
}

.setting-item:hover i {
    color: white; 
}

.setting-item:hover {
    background-color: #254985;
    color: white;
}

.setting-item:hover i, .fas:hover i{
    color: white; 
}

.footer-info {
    background-color: #254985;
    text-align: center;
    border-radius: 8px; 
    color: #FFffff;
    padding-top: 15px;
    padding-bottom: 15px;
}

.company-name {
    font-size: 22px;
    margin: 5px 0;
}

.address {
    font-size: 16px;
    margin: 0;
    color: #FFEAEA;
}